<ul class="nav nav-tabs">
  <% if params[:kind] == "municipal" %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
    <%= link_to licenses_path(kind: "municipal") do %>
      Municipal Licenses (<%= @municipal_licenses.count %>)
    <% end %>
  </li>
  <% if params[:kind] == "park" %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
    <%= link_to licenses_path(kind: "park") do %>
      Park Licenses (<%= @park_licenses.count %>)
    <% end %>
  </li>
  <% if params[:kind] == "printed" %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
    <%= link_to licenses_path(kind: "printed") do %>
      Printed Licenses (<%= @printed_licenses_count %>)
    <% end %>
  </li>
</ul>
<%= form_tag export_licenses_path do %>
  <% if params[:kind] == "municipal" %>
    <h2>Municipal Licenses</h2>
    <h5>total: <%= @municipal_licenses.count %></h5>
    <h5>total owed: $<%= @total_municipal_charge %></h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><a href="#" id="selectAll">all</a></th>
          <th>#</th>
          <th>Pet Name</th>
          <th>Species</th>
          <th>Age</th>
          <th>Owner Name</th>
          <th>Address 1</th>
          <th></th>
          <th>Municipality</th>
          <th>County</th>
          <th>State</th>
          <th>Zip</th>
          <th>Phone</th>
          <th>Vaccinated?</th>
          <th>SN?</th>
          <th>HS?</th>
          <th>Amount Paid</th>
          <th>License</th>
        </tr>
      </thead>
      <% @municipal_licenses.each do |ml| %>
      <% pet = ml.pet %>
      <tr>
        <td><%= check_box_tag "ids[]", ml.id %></td>
        <td><%= ml.id %></td>
        <td><%= pet.name %></td>
        <td><%= pet.species %></td>
        <td><%= pet.age %></td>
        <td><%= pet.user.full_name %></td>
        <td><%= pet.user.address_one %></td>
        <td><%= pet.user.address_two %></td>
        <td><%= pet.user.city %></td>
        <td><%= pet.user.county %></td>
        <td><%= pet.user.state %></td>
        <td><%= pet.user.zip %></td>
        <td><%= pet.user.phone %></td>
        <td><%= pet.vaccinated? %></td>
        <td><%= pet.spayed_or_neutered? %></td>
        <td><%= pet.at_humane_society? %></td>
        <td><%= ml.nice_amount_paid %></td>
        <td><%= link_to "view", license_municipal_path(id:pet.id, license_id: ml.id), class:"btn" %></td>
      </tr>
      <% end %>
    </table>
  <% end %>


  <% if params[:kind] == "park" %>
    <h2>Park Licenses</h2>
    <h5>total: <%= @park_licenses.count %></h5>
    <h5>total owed: $<%= @total_park_charge %></h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectAll" /></th>
          <th>#</th>
          <th>Pet Name</th>
          <th>Species</th>
          <th>Age</th>
          <th>Owner Name</th>
          <th>Address 1</th>
          <th></th>
          <th>Municipality</th>
          <th>County</th>
          <th>State</th>
          <th>Zip</th>
          <th>Phone</th>
          <th>Vaccinated?</th>
          <th>SN?</th>
          <th>HS?</th>
          <th>Amount Paid</th>
          <th>License</th>
        </tr>
      </thead>
      <% @park_licenses.each do |pl| %>
      <% pet = pl.pet %>
      <tr>
        <td><%= check_box_tag "ids[]", pl.id %></td>
        <td><%= pl.id %></td>
        <td><%= pet.name %></td>
        <td><%= pet.species %></td>
        <td><%= pet.age %></td>
        <td><%= pet.user.full_name %></td>
        <td><%= pet.user.address_one %></td>
        <td><%= pet.user.address_two %></td>
        <td><%= pet.user.city %></td>
        <td><%= pet.user.county %></td>
        <td><%= pet.user.state %></td>
        <td><%= pet.user.zip %></td>
        <td><%= pet.user.phone %></td>
        <td><%= pet.vaccinated? %></td>
        <td><%= pet.spayed_or_neutered? %></td>
        <td><%= pet.at_humane_society? %></td>
        <td><%= pl.nice_amount_paid %></td>
        <td><%= link_to "View", license_park_path(id:pet.id), class:'btn' %></td>
      </tr>
      <% end %>
    </table>
  <% end %>

  <% if params[:kind] == "printed" %>
    <h2>Printed Licenses</h2>
    <h5>total: <%= @printed_licenses_count %></h5>
    <h5>total owed: $<%= @total_printed_charge %></h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectAll" /></th>
          <th>#</th>
          <th>Pet Name</th>
          <th>Species</th>
          <th>Age</th>
          <th>Owner Name</th>
          <th>Address 1</th>
          <th></th>
          <th>Municipality</th>
          <th>County</th>
          <th>State</th>
          <th>Zip</th>
          <th>Phone</th>
          <th>Vaccinated?</th>
          <th>SN?</th>
          <th>HS?</th>
          <th>Amount Paid</th>
          <th>License</th>
        </tr>
      </thead>
      <% @printed_licenses.each do |ml| %>
      <% pet = ml.pet %>
      <tr>
        <td><%= check_box_tag "ids[]", ml.id %></td>
        <td><%= ml.id %></td>
        <td><%= pet.name %></td>
        <td><%= pet.species %></td>
        <td><%= pet.age %></td>
        <td><%= pet.user.full_name %></td>
        <td><%= pet.user.address_one %></td>
        <td><%= pet.user.address_two %></td>
        <td><%= pet.user.city %></td>
        <td><%= pet.user.county %></td>
        <td><%= pet.user.state %></td>
        <td><%= pet.user.zip %></td>
        <td><%= pet.user.phone %></td>
        <td><%= pet.vaccinated? %></td>
        <td><%= pet.spayed_or_neutered? %></td>
        <td><%= pet.at_humane_society? %></td>
        <td><%= ml.nice_amount_paid %></td>
        <td><%= link_to "view", license_municipal_path(id:pet.id), class:"btn" %></td>
      </tr>
      <% end %>
    </table>
  <% end %>

<% if false %>
<%= select_tag :format, options_for_select([["PDF", "pdf"], ["XLS", "xls"], ["CSV", "csv"]], "pdf") %>
<% end %>
<%= select_tag :format, options_for_select([["PDF", "pdf"]], "pdf") %>
<%= submit_tag "export", class:'btn btn-primary btn-disabled admin-btn', confirm:"This will export these licenses and mark them as printed. Would you like to continue?" %>
<% end %>

<!-- <div class="btn btn-disabled admin-btn" data-format="pdf">
  Export to .pdf
</div>
<div class="btn btn-disabled admin-btn" data-format="xls">
  Export to .xls
</div>
 -->
<% if false %>
<div class="btn btn-disabled btn-warning admin-btn" id="markAsPrinted" data-format="submit">
  Mark as Submitted
</div>

<script>
  $('#markAsPrinted').click(function(){
    var type = $("<input>").attr("submit", "hidden").val(true);
    var ids = $(":checked").data("license-id");

    $('form').append(type).submit();
    return false
  });
</script>
<% end %>