<ul class="nav nav-tabs">
  <% if params[:kind] == "municipal" %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
    <%= link_to licenses_path(kind: "municipal") do %>
      municipal Licenses (<%= @municipal_licenses.count %>)
    <% end %>
  </li>
  <% if params[:kind] == "park" %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
    <%= link_to licenses_path(kind: "park") do %>
      Park Licenses (<%= @park_licenses.count %>)
    <% end %>
  </li>
</ul>
<% if params[:kind] == "municipal" %>
<h2>Municipal Licenses</h2>
<h5>total: <%= @municipal_licenses.count %></h5>
<h5>total owed: $<%= @total_municipal_charge %></h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th><input type="checkbox" id="selectAll" /></th>
      <th>#</th>
      <th>Name</th>
      <th>Age</th>
      <th>Municipality</th>
      <th>Zip</th>
      <th>Vaccinated?</th>
      <th>License</th>
    </tr>
  </thead>
  <% @municipal_licenses.each do |ml| %>
  <% pet = ml.pet %>
  <tr>
    <td><input type="checkbox" class="pet-row" data-pet-id="<%= pet.id %>" /></td>
    <td><%= ml.id %></td>
    <td><%= pet.name %></td>
    <td><%= pet.age %></td>
    <td><%= pet.user.city %></td>
    <td><%= pet.user.zip %></td>
    <td><%= pet.vaccinated? %></td>
    <td><%= link_to "view license", license_municipal_path(id:pet.id) %></td>
  </tr>
  <% end %>
</table>
<%= link_to "Print Selected", print_license_path, class:"btn" %>
<% end %>
<% if params[:kind] == "park" %>
<h2>Park Licenses</h2>
<h5>total: <%= @park_licenses.count %></h5>
<h5>total owed: $<%= @total_park_charge %></h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th><input type="checkbox" id="selectAll" /></th>
      <th>#</th>
      <th>Name</th>
      <th>Age</th>
      <th>Municipality</th>
      <th>Zip</th>
      <th>Vaccinated?</th>
      <th>License</th>
    </tr>
  </thead>
  <% @park_licenses.each do |pl| %>
  <% pet = pl.pet %>
  <tr>
    <td><input type="checkbox" class="pet-row" data-pet-id="<%= pet.id %>" /></td>
    <td><%= pl.id %></td>
    <td><%= pet.name %></td>
    <td><%= pet.age %></td>
    <td><%= pet.user.city %></td>
    <td><%= pet.user.zip %></td>
    <td><%= pet.vaccinated? %></td>
    <td><%= link_to "view license", license_park_path(id:pet.id) %></td>
  </tr>
  <% end %>
</table>
<%= link_to "Print Selected", print_license_path, class:"btn" %>
<% end %>