<div class="row hero">
  <div class="span7">
    <%= image_tag 'hero/hero.png' %>
  </div>
  <div class="span5 pitch">
    <h2>Manage your pet's license and medical information</h2>
    <div class="lead whachaget">
      Petpass . . . 
        <p>puts local pet services at your fingertips</p>
        <p>lets you access your pet's data from anywhere</p>
        <p>helps to recover your pet</p>
    </div>
  </div>
</div>

<%= devise_error_messages! %>

<div class="row">
<div class="span6">
  <h3>Get Started</h3>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :full_name, "Full Name*" %><br />
    <%= f.text_field :full_name, :autofocus => true, class:"required" %>
  </div>
  <div class="field">
    <%= f.label :email, "Email*" %><br />
    <%= f.text_field :email, class:"required email" %>
  </div>
  <div class="field">
    <%= f.label :password, "Password*" %><br />
    <%= f.password_field :password, class:"required" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class:"required" %>
  </div>

  <h3>Your Personal Information</h3>
  <span class="red small">We only share your information with your permission</span><br />
  <br />
  <div class="field">
    <%= f.label :address_one, "Address*" %><br />
    <%= f.text_field :address_one, class:"required" %>
  </div>
  <div class="field">
    <%= f.label :address_two, "Address line two" %><br />
    <%= f.text_field :address_two %>
  </div>
  <div class="field pull-left">
    <div class="pull-left">
      <%= f.label :state, "State*" %><br />
      <%= f.select :state, wisconsin, class:"state required" %><br>
    </div>
    <div class="pull-left">
      <%= f.label :county, "County*" %><br />
      <%= f.select :county, wisco_counties, class:"required" %>
    </div>     
  </div>
  <div class="clear-both">
    Can't find your State or County? <%= link_to "request Petpass near you", "mailto:petpassteam@gmail.com?subject=Come to my county Petpass!" %> <br />
  </div>
  <div class="field clear-both">
    <%= f.label :city, "Municipality*" %><br />
    <%= f.text_field :city, class:"city required" %>
  </div>
  <div class="field">
    <%= f.label :phone, "Phone number (helps with lost pet recovery)" %><br />
    <%= f.text_field :phone, placeholder: "(555) 555-5555" %>
  </div>
  <div class="field pull-left">
    <div class="field pull-left">
      <%= f.label :zip, "Zip*" %><br />
      <%= f.text_field :zip, class:"zip required" %>
    </div>
  </div>  
  <h3>Pet Information</h3>  
  <%= f.fields_for :pets, resource.pets.build do |p| %>  
    <div class="field">
      <%= p.label :name, "Pet Name*" %><br />
      <%= p.text_field :name, class:"required", autocomplete: "off"  %>
    </div>  
    <div class="field">
      <div><label>Species</label></div>
      <% Pet::SPECIES.each do |s| %>
        <%= p.radio_button :species, "#{s}", id:"radio#{(Pet::SPECIES.index(s) + 1)}", class:"required" %>
        <%= p.label "radio#{(Pet::SPECIES.index(s) + 1)}", "#{s.humanize}" %>
      <% end %>
    </div>
    <div class="margin-left">
      <%= p.label :breed, "Breed*" %><br />
      <div class="dog" style="display:none;">
        <%= p.select :breed, primary_breed, class:"required" %>
      </div>
      <div class="cat" style="display:none;">
        <%= p.select :breed, cat_breeds, class:"required" %>
      </div>
    </div>       
    <br />
    <div class="field">
      <%= p.check_box :recent %> 
      <%= p.label :recent, "Aquired Pet Within Last 30 Days?" %>
    </div>     
    <div class="field">
      <%= p.label :avatar, "Pet Picture (helps with lost pet recovery)" %><br />
      <%= p.file_field :avatar %>
    </div>
    <br />
    <div class="field">
      <%= check_box_tag :has_microchip %> <%= label_tag :has_microchip, "Microchipped? (helps with lost pet recovery)" %>
    </div>
    <div class="field show_micro" style="display:none;">
      <%= p.label :microchip_code, "Microchip Code*" %><br />
      <%= p.text_field :microchip_code, autocomplete: "off"  %>
    </div>
    <br />       
    <div class="field">
      <div class="row">     
        <div class="pull-left margin-left">
          <%= p.label :sex, "Sex*" %><br />
          <%= p.select "sex", ["Male Intact", "Male Neutered", "Female Intact",  "Female Spayed"], class:"required" %>
        </div>   
        <div class="pull-left margin-left">
          <%= p.label :born_on, "Birth day (mm/dd/yyyy)*" %><br />
          <%= p.text_field :born_on, class:"age-input required", placeholder:"mm/dd/yyyy", autocomplete: "off"  %>
        </div>    
      </div>
    </div>
    <div class="field upload_spayed" style="display:none;">
      <%= p.label :spayed_neutered_attachment, "Upload Proof of Spayed/Neutered" %><br />
      <%= p.file_field :spayed_neutered_attachment %>
    </div>    
    <div class="field">
      <%= p.label :color, "Color*" %><br />
      <%= p.text_field :color, class:"required", autocomplete: "off" %>
    </div>  
    <div class="field clear-both">
      <%= p.label :markings, "Markings*" %><br />
      <%= p.text_field :markings, class:"required", autocomplete: "off" %>
    </div>
    <h3>Rabies Vaccination</h3>
    <div class="field rabies_tag">
      <%= p.label :rabies_tag_number, "Rabies Tag Number" %><br />
      <%= p.text_field :rabies_tag_number, autocomplete: "off"  %>
    </div>
    <div class="field rabies_tag">
      <%= p.label :rabies_attachment, "Upload Proof of Rabies Vaccination" %><br />
      <%= p.file_field :rabies_attachment %>
    </div>
    <div class="field rabies_tag">
      <%= p.label :rabies_expiration, "Rabies Expiration* (mm/dd/yyyy)" %><br />
      <%= p.text_field :rabies_expiration, placeholder:"mm/dd/yyyy", autocomplete: "off"  %>
    </div> 
  <% end %>

  <div class="actions">
    <%= f.submit "Register Owner and Pet", class:'login_button' %>
  </div>
<% end %>
</div>

<div class="span6">
  <div class="win">
    <%= image_tag "hugging.jpg", class:"img" %>
    <div>
      <h3>Safe Pets Make Safe Neighborhoods</h3>
      <div class="lead">Owners can manage their pet's account and post information about their pet for review by vet clinics and government officials.</div>       
    </div>

  <div class="win">
    <%= image_tag "kitten_pulse.jpg", class:"img" %>
    <div>
      <h3>Pet Services at Your Fingertips</h3>
      <div class="lead">In the event of a lost, sick, or found pet, the PetPass online and mobile network can respond more quickly than traditional fliers and faxes.</div>  
    </div>
  </div>

  <div class="win">
    <%= image_tag "husky.jpg", class:"img" %>
    <div>
      <h3>Connecting People Who Care</h3>
      <div class="lead">PetPass helps pet owners ensure their pet's health and wellness by connecting them with people and professionals who can help.</div>   
    </div>
  </div>
</div>