<div class="row hero">
  <div class="span7">
    <%= image_tag 'hero/hero.png' %>
  </div>
  <div class="span5 pitch">
    <h2>The Easiest way to Manage your Pet's License and Medical Information</h2>
  </div>
</div>

<hr>

<%= devise_error_messages! %>

<div class="row">
<div class="span7">
  <h4>Get Started</h4>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :full_name, "Full Name*" %><br />
    <%= f.text_field :full_name, :autofocus => true, class:"required", autocomplete: :off %>
  </div>
  <div class="field">
    <%= f.label :email, "Email*" %><br />
    <%= f.text_field :email, class:"required email", autocomplete: :off %>
  </div>
  <div class="field">
    <%= f.label :password, "Password* (min 6 characters)" %><br />
    <%= f.password_field :password, class:"required" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Password Confirmation*" %><br />
    <%= f.password_field :password_confirmation, class:"required" %>
  </div>

  <h4>Personal Information</h4>
  <span class="red small">We only share your information with your permission</span><br />
  <br />  
  <div class="field">
    <%= f.label :address_one, "Address*" %><br />
    <%= f.text_field :address_one, class:"required", autocomplete: :off %>
  </div>
  <div class="field">
    <%= f.label :address_two, "Address line two" %><br />
    <%= f.text_field :address_two %>
  </div>
  <div class="field clear-both">
    <%= f.label :city, "Municipality*" %><br />
    <%= f.text_field :city, class:"city required", autocomplete: :off %>
  </div>  
  <div class="field row">
    <div class="field span2">
      <%= f.label :zip, "Zip*" %><br />
      <%= f.text_field :zip, class:"zip required", autocomplete: :off %>
    </div>     
    <div class="span2">
      <%= f.label :state, "State*" %><br />
      <%= f.select :state, wisconsin, class:"state required" %><br>
    </div>
    <div class="span2">
      <%= f.label :county, "County*" %><br />
      <%= f.select :county, wisco_counties, class:"required" %>
    </div>     
  </div>
  <br>
  <div class="clear-both">
    Can't find your State or County? <%= link_to "request PetPass near you", "mailto:petpassteam@gmail.com?subject=Come to my county PetPass!" %> <br />
  </div> 
  <br>
  <div class="field">
    <%= f.label :phone, "Phone number (helps with lost pet recovery)" %><br />
    <%= f.text_field :phone, placeholder: "(555) 555-5555", autocomplete: :off %>
  </div>  
  <div class="field">
    <%= f.check_box :recent %> 
    <%= f.label :recent, "Moved to Above Address in Last 30 Days?" %>
  </div>   

  <h4>Pet Information</h4>  
  <%= f.fields_for :pets, resource.pets.build do |p| %>  
    <div class="field">
      <%= p.label :name, "Pet Name*" %><br />
      <%= p.text_field :name, class:"required", autocomplete: :off  %>
    </div>  
    <div class="field">
      <div><label>Species*</label></div>
      <% Pet::SPECIES.each do |s| %>
        <%= p.radio_button :species, "#{s}", id:"radio#{(Pet::SPECIES.index(s) + 1)}", class:"required" %>
        <%= p.label "radio#{(Pet::SPECIES.index(s) + 1)}", "#{s.humanize}" %>
      <% end %>
    </div>
    <div class="margin-left margin-top">
      <div class="dog" style="display:none;">
        <%= p.label :breed, "Breed*" %><br />
        <%= p.select :breed, primary_breed, class:"required" %>
      </div>
      <div class="cat" style="display:none;">
        <%= p.label :breed, "Breed*" %><br />
        <%= p.select :breed, cat_breeds, class:"required" %>
      </div>
    </div>       
    <br />
    <% unless humane_society_ips.include?(request.ip) %>  
    <div class="field">
      <%= p.label :avatar, "Pet Picture (Optional)" %><br />
      <%= p.file_field :avatar %>
    </div>
    <br />
    <% end %>          
    <% if humane_society_ips.include?(request.ip) %>
      <div class="field">
        <%= p.label :sex, "Sex*" %><br />
        <%= p.select "sex", ["Male Neutered", "Female Spayed"], class:"required", prompt: "Select Sex" %>
      </div>     
    <% else %>
      <div class="field">
        <%= p.label :sex, "Sex*" %><br />
        <%= p.select "sex", ["Male Intact", "Male Neutered", "Female Intact",  "Female Spayed"], class:"required", prompt: "Select Sex" %>
      </div> 
      <div class="field upload_spayed" style="display:none;">
        <%= p.label :spayed_neutered_attachment, "Upload Proof of Spayed/Neutered (Optional)" %><br />
        <%= p.file_field :spayed_neutered_attachment %>
      </div>        
    <% end %>
    <div class="field">
      <%= p.label :born_on, "Pet's Birth date (mm/dd/yyyy) (estimated)*" %><br />
      <%= p.text_field :born_on, class:"age-input required", placeholder:"mm/dd/yyyy", autocomplete: "off"  %>
    </div>        
    <div class="field">
      <%= p.label :color, "Color*" %><br />
      <%= p.select :color, coat_colors, class:"required", autocomplete: "off", prompt: 'Please Select Color' %>
    </div>  
    <div class="field clear-both">
      <%= p.label :markings, "Markings (Optional)" %><br />
      <%= p.select :markings, markings_list, class:"required", autocomplete: "off", prompt: 'Please Select Markings' %>
    </div>
    <div class="field">
      <%= p.check_box :recent %> 
      <% if humane_society_ips.include?(request.ip) %>  
        <%= p.label :recent, "Aquired Pet Within Last 30 Days?", checked: true %>
      <% else %> 
        <%= p.label :recent, "Aquired Pet Within Last 30 Days?" %>      
      <% end %>
    </div>     
    <% unless humane_society_ips.include?(request.ip) %>
      <h4>Rabies Vaccination (optional)</h4>
      <div class="field rabies_tag">
        <%= p.label :rabies_tag_number, "Rabies Tag Number (optional)" %><br />
        <%= p.text_field :rabies_tag_number, autocomplete: "off"  %>
      </div>
      <div class="field rabies_tag">
        <%= p.label :rabies_attachment, "Upload Proof of Rabies Vaccination (optional)" %><br />
        <%= p.file_field :rabies_attachment %>
      </div>
      <div class="field rabies_tag">
        <%= p.label :rabies_expiration, "Rabies Expiration* (mm/dd/yyyy) (optional)" %><br />
        <%= p.text_field :rabies_expiration, placeholder:"mm/dd/yyyy", autocomplete: "off"  %>
      </div> 
    <% end %>
    <h4>Microchip (optional)</h4>
    <div class="field show_micro">
      <%= p.label :microchip_code, "Microchip Code (Optional)" %><br />
      <%= p.text_field :microchip_code %>
    </div>     
  <% end %>

  <div class="actions">
    <%= f.submit "Register Owner and Pet", class:'login_button' %>
  </div>
<% end %>
</div>

<div class="span5">
  <div class="win">
    <%= image_tag "hugging.jpg", class:"img" %>
    <div>
      <h4>Safe Pets Make Safe Neighborhoods</h4>
      <div class="lead">Owners can manage their pet's account and post information about their pet for review by vet clinics and government officials.</div>       
    </div>

  <div class="win">
    <%= image_tag "kitten_pulse.jpg", class:"img" %>
    <div>
      <h4>Pet Services at Your Fingertips</h4>
      <div class="lead">In the event of a lost, sick, or found pet, the PetPass online and mobile network can respond more quickly than traditional fliers and faxes.</div>  
    </div>
  </div>

  <div class="win">
    <%= image_tag "husky.jpg", class:"img" %>
    <div>
      <h4>Connecting People Who Care</h4>
      <div class="lead">PetPass helps pet owners ensure their pet's health and wellness by connecting them with people and professionals who can help.</div>   
    </div>
  </div>
</div>