<div id="hero">
  <div class="offset7 span5">
    <h1>Join Petpass</h1>
    <h4>Put the pet services of your local community and government at your fingertips. Store your pet data and license your pet through the cloud. </h4>
  </div>
</div>
<div class="new_owner_form">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <h3>Your Petpass Account Information</h3>
  <span class="red small">We will only share your information with your permission</span>
  <div class="field">
    <%= f.label :full_name, "Full Name*" %><br />
    <%= f.text_field :full_name, :autofocus => true %>
  </div>
  <div class="field">
    <%= f.label :email, "Email*" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Password*" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <h3>Your Personal Information</h3>
  <div class="field">
    <%= f.label :address_one, "Address*" %><br />
    <%= f.text_field :address_one %>
  </div>
  <div class="field">
    <%= f.label :address_two, "Address line two (optional)" %><br />
    <%= f.text_field :address_two %>
  </div>
  <div class="field pull-left">
    <%= f.label :city, "City*" %><br />
    <%= f.text_field :city, class:"city" %>
  </div>
  <div class="field">
    <%= f.label :phone, "Phone number (optional)" %><br />
    <%= f.text_field :phone, placeholder: "(555)555-5555" %>
  </div>
  <div class="field pull-left">
    <%= f.label :state, "State*" %><br />
    <%= f.select :state, us_states, class:"state" %>
  </div>  
  <div class="field pull-left">
    <%= f.label :zip, "Zip*" %><br />
    <%= f.text_field :zip, class:"zip" %>
  </div>
  <h3>Pet Information</h3>
  <%= f.fields_for :pets, resource.pets.build do |p| %>  
    <div class="field">
      <%= p.label :name, "Name*" %><br />
      <%= p.text_field :name %>
    </div>
    <div class="field">
      <%= p.label :avatar, "Pet Picture" %><br />
      <%= p.file_field :avatar %>
    </div>
    <div class="field">
      <%= p.label :breed, "Breed*" %><br />
      <%= p.text_field :breed %>
    </div>
    <div class="field">
      <%= p.label :color, "Color*" %><br />
      <%= p.text_field :color %>
    </div>
    <div class="field age">
      <%= p.label :age, "Age*" %><br />
      <%= p.number_field :age, class:"age-input" %>
    </div>
    <div class="field">
      <%= p.label :sex, "Sex*" %><br />
      <%= p.select "sex", ["Male", "Female"] %>
    </div>
    <div class="field clear-both">
      <%= p.label :markings, "Markings*" %><br />
      <%= p.text_field :markings %>
    </div>
    <h3>Vaccinations & Microchip Code</h3>
    <div class="field">
      <%= check_box_tag :rabies_vaccination %><%= label_tag :rabies_vaccination, "Rabies Vaccinated" %>
    </div>
    <div class="field rabies_tag" style="display:none;">
      <%= p.label :rabies_tag_number, "Rabies Tag Number*" %><br />
      <%= p.text_field :rabies_tag_number %>
    </div>
    <div class="field rabies_tag" style="display:none;">
      <%= p.label :rabies_attachment, "Upload Proof of Rabies Vaccination" %><br />
      <%= p.file_field :rabies_attachment %>
    </div>
    <div class="field rabies_tag" style="display:none;">
      <%= p.label :rabies_expiration %><br />
      <%= p.text_field :rabies_expiration, placeholder:"mm/dd/yyyy" %>
    </div>
    <div class="field">
      <%= check_box_tag :spayed_neutered %><%= label_tag :spayed_neutered %>
    </div>
    <div class="field upload_spayed" style="display:none;">
      <%= p.label :spayed_neutered_attachment, "Upload Proof of Spayed/Neutered" %><br />
      <%= p.file_field :spayed_neutered_attachment %>
    </div>
    <div class="field">
      <%= check_box_tag :has_microchip %><%= label_tag :has_microchip %>
    </div>
    <div class="field show_micro" style="display:none;">
      <%= p.label :microchip_code, "Microchip Code*" %><br />
      <%= p.text_field :microchip_code %>
    </div>    
  <% end %>
  <div class="actions">
    <%= f.submit "Register Owner and Pet", class:'login_button' %>
  </div>
<% end %>
</div>
<div id="winset">
  <div id="imgThree" class="right img"></div>
  <div class="left winText">
    <h2>Safe Pets Make Safe Neighborhoods</h2>
    <p>Owners can manage their pet's account and post information about their pet for review by vet clinics and government officials.</p>       
  </div>
  <div id="imgOne" class="right img"></div>
  <div class="right winText">
    <h2>Pet Services at Your Fingertips</h2>
    <p>In the event of a lost, sick, or found pet, the PetPass online and mobile network can respond more quickly than traditional fliers and faxes.</p>  
  </div>
  <div>
  <div id="imgTwo" class="right img"></div>
  <div class="left winText">
    <h2>Connecting People Who Care</h2>
    <p>PetPass helps pet owners ensure their pet's health and wellness by connecting them with people and professionals who can help.</p>   
  </div>
</div>