<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @owner.full_name %>
</p>

<p>
  <b>Email:</b>
  <%= @owner.email %>
</p>

<p>
  <b>Address one:</b>
  <%= @owner.address_one %>
</p>

<p>
  <b>Address two:</b>
  <%= @owner.address_two %>
</p>

<p>
  <b>Zip:</b>
  <%= @owner.zip %>
</p>

<p>
  <b>City:</b>
  <%= @owner.city %>
</p>

<p>
  <b>State:</b>
  <%= @owner.state %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
