<h4 class="h4"><%= @user.full_name %>, </h4>
<strong>Licenses submitted!</strong> 
<br />
<br />
<TABLE>
  <TR>
    <TH>LICENSE</TH>
    <TH>MUNICIPALITY</TH>
    <TH>PAID</TH>
  </TR>
  <TR>
    <TD>MUNICIPLE</TD>
    <TD><%= @user.city %></TD>
    <TD><%= @city_fee %></TD>
  </TR>
  <% if @park_fee.present? %>
    <TR>
      <TD>PARK</TD>
      <TD><%= @user.city %></TD>
      <TD><%= @park_fee %></TD>
    </TR>    
  <% end %>
</TABLE>
<br />
<br />