<h1>AWESOME</h1>
<p>The <%= @pet.species %>, named <%= @pet.name %> was just licensed to <%= @user.full_name %> in <%= @user.county %> county, in <%= @user.city %> municipality</p>
<p>Checkout the admin dashboard to learn more</p>