<h4 class="h4"><%= @user.full_name %>, </h4>
<strong>A Lil' More Info</strong> - Petpass works best for you if you include some more info in your pet's records.
<br />
<br />
<TABLE>
  <TR>
    <TH>PET</TH>
    <TH>SPECIES<TH>
    <TH>SPAYED/NEUTERED PROOF</TH>
    <TH>RABIES VACCINATION PROOF</TH>
    <TH>RABIES TAG NUMBER</TH>
    <TH>RABIES EXPIRATION</TH>
    <TH>MUNICIPAL LICENSE</TH>
    <TH>PARK LICENSE</TH>
  </TR>
  <TR>
    <TD><%= @pet.name %></TD>
    <TD><%= @pet.species %></TD>
    <TD><%= @pet.spayed_or_neutered? %></TD>
    <TD><%= @pet.vaccinated? %></TD>
    <TD><%= @pet.rabies_tag_number.present? %></TD>
    <TD><%= @pet.rabies_expiration.present? %></TD>
    <TD><%= link_to 'Update', edit_pet_path(@pet) %></TD>
  </TR>
</TABLE
