<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name*" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :avatar, "Pet Picture" %><br />
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :breed, "Breed*" %><br />
    <%= f.text_field :breed %>
  </div>
  <div class="field">
    <%= f.label :color, "Color*" %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field age">
    <%= f.label :age, "Age*" %><br />
    <%= f.number_field :age, class:"age-input" %>
  </div>
  <div class="field">
    <%= f.label :sex, "Sex*" %><br />
    <%= f.select "sex", ["Male", "Female"] %>
  </div>
  <div class="field clear-both">
    <%= f.label :markings, "Markings*" %><br />
    <%= f.text_field :markings %>
  </div>
  <h3>Vaccinations & Microchip Code</h3>
  <div class="field">
    <%= check_box_tag :rabies_vaccination %>
    <%= label_tag :rabies_vaccination, "Rabies Vaccinated" %>
  </div>
  <div class="field rabies_tag" style="display:none;">
    <%= f.label :rabies_tag_number, "Rabies Tag Number*" %><br />
    <%= f.text_field :rabies_tag_number %>
  </div>
  <div class="field rabies_tag" style="display:none;">
    <%= f.label :rabies_attachment, "Upload Proof of Rabies Vaccination" %><br />
    <%= f.file_field :rabies_attachment %>
  </div>
  <div class="field rabies_tag" style="display:none;">
    <%= f.label :rabies_expiration %><br />
    <%= f.text_field :rabies_expiration, placeholder:"mm/dd/yyyy" %>
  </div>
  <div class="field">
    <%= check_box_tag :spayed_neutered %>
    <%= label_tag :spayed_neutered %>
  </div>
  <div class="field upload_spayed" style="display:none;">
    <%= f.label :spayed_neutered_attachment, "Upload Proof of Spayed/Neutered" %><br />
    <%= f.file_field :spayed_neutered_attachment %>
  </div>
  <div class="field">
    <%= check_box_tag :has_microchip %>
    <%= label_tag :has_microchip %>
  </div>
  <div class="field show_micro" style="display:none;">
    <%= f.label :microchip_code, "Microchip Code*" %><br />
    <%= f.text_field :microchip_code %>
  </div>   
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
