<ul class="thumbnails">
  <% @pets.each do |pet| %>
  <li class="span4">
    <div class="thumbnail">
      <%= image_tag pet.avatar.url(:original) %>
      <h3><%= pet.name.capitalize %></h3>
      <ul>
        <li>
          <strong>Age</strong> <%= pet.age %>
        </li>
        <li>
          <strong>Color</strong> <%= pet.color %>
        </li>
        <li>
          <strong>Breed</strong> <%= pet.breed %>
        </li>
        <li>
          <strong>Sex</strong> <%= pet.sex %>
        </li>
        <li>
          <strong>Markings</strong> <%= pet.markings %>
        </li>
        <li>
          <strong>Spayed/Neutered</strong> 
            <% if pet.spayed_or_neutered? %>
              true (<%= link_to "proof", pet.spayed_neutered_attachment.url(:original) %>)
            <% else %>
              <span class="not_licensed">False</span><br />
              <%= link_to "Add Proof of Spayed/Neutered", edit_pet_path(pet) %>
            <% end %>
        </li>
        <li>
          <strong>Rabies Vaccination</strong> 
          <% if pet.vaccinated? %>
            true (<%= link_to "proof", pet.rabies_attachment.url(:original) %>)
          <% else %>
            <span class="not_licensed">False</span><br />
            <%= link_to "Add Proof of Rabies Vaccination", edit_pet_path(pet) %>
          <% end %>
        </li>                

      </ul>
        <% if !pet.vaccinated? %>
          <div class="btn-disabled">License <%= pet.name %></div>
        <% else %>
          <%= link_to "License #{pet.name}", new_charge_path(id: pet.id), class:"btn btn-success" %>
        <% end %>
        <%= link_to 'Edit', edit_pet_path(pet), class:'btn btn-warning' %>
        <% if current_user.admin? %>
          <%= link_to 'View License', license_path(id:pet.id) %>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<%= link_to 'New Pet', new_pet_path, class:'btn btn-success new-pet' %>
<hr>
<div class="container">
  <div class="row">
    <div class="span4">
    </div>
  </div>
</div>
