<h1>Listing pets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Breed</th>
    <th>Rabies expiration</th>
    <th>Color</th>
    <th>Age</th>
    <th>Sex</th>
    <th>Markings</th>
    <th>Rabies tag number</th>
    <th>Spayed nutered</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pets.each do |pet| %>
  <tr>
    <td><%= pet.name %></td>
    <td><%= pet.breed %></td>
    <td><%= pet.rabies_expiration %></td>
    <td><%= pet.color %></td>
    <td><%= pet.age %></td>
    <td><%= pet.sex %></td>
    <td><%= pet.markings %></td>
    <td><%= pet.rabies_tag_number %></td>
    <td><%= pet.spayed_nutered %></td>
    <td><%= pet.owner %></td>
    <td><%= link_to 'Show', pet %></td>
    <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
    <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pet', new_pet_path %>
