<ul class="thumbnails">
  <% @pets.each do |pet| %>
  <li class="span4">
    <div class="thumbnail">
      <%= image_tag pet.avatar.url(:original) %>
      <h3><%= pet.name %></h3>
      <ul>
        <li>
          <strong>Age</strong> <%= pet.age %>
        </li>
        <li>
          <strong>Color</strong> <%= pet.color %>
        </li>
        <li>
          <strong>Breed</strong> <%= pet.breed %>
        </li>
        <li>
          <strong>Sex</strong> <%= pet.sex %>
        </li>
        <li>
          <strong>Markings</strong> <%= pet.markings %>
        </li>
      </ul>
      <div>
        <%= link_to "License", new_charge_path, class:"btn btn-primary" %>
        <%= link_to 'Edit', edit_pet_path(pet), class:'btn btn-warning' %>
        <%= link_to 'Remove', pet, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% if current_user.admin? %>
          <%= link_to 'View License', license_path(id:pet.id) %>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
</ul>

<%= link_to 'New Pet', new_pet_path, class:'btn btn-success' %>
