<ul class="thumbnails">
  <% @pets.each do |pet| %>
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag pet.avatar.url(:original) %>        
        <h3><%= pet.name %></h3>
        <%= link_to 'Edit', edit_pet_path(pet), class:"pull-right" %>
        <ul>
          <li>
            <strong>Age</strong>
            <%= pet.age %> 
          </li>
          <li>
            <strong>Breed</strong> <%= pet.breed %> (<%= pet.species %>)
          </li>
          <li>
            <strong>Sex</strong> <%= pet.sex %>
          </li>
          <li>
            <strong>Color</strong> <%= pet.color %>
          </li>          
          <li>
            <strong>Markings</strong> <%= pet.markings %>
          </li>
          <li>
            <strong>Spayed/Neutered</strong> 
            <br/>
              <% if pet.spayed_or_neutered? %>
                <span class="green">True</span> (<%= link_to "View Proof", pet.spayed_neutered_attachment.url(:original) %>)
              <% else %>
                <span class="not_licensed">No Proof</span> (<%= link_to "Add Proof", edit_pet_path(pet) %>)
              <% end %>
          </li>
          <li>
            <strong>Rabies Vaccination</strong> 
            <br />
            <% if pet.rabies_attachment_file_size.present? %>
              <span class="green">True</span> (<%= link_to "View Proof", pet.rabies_attachment.url(:original) %>)
            <% else %>
              <span class="not_licensed">No Proof</span> (<%= link_to "Add Proof", edit_pet_path(pet) %>)
            <% end %>
            <% if pet.rabies_expiration.present? %>
              <div>
                <strong>Rabies Vaccination expires on</strong> <%= pet.nice_rabies_expiration %>
              </div>
            <% else %>
              <div>
                <strong>Rabies Vaccination Expires On</strong>
                <br />
                <span class="not_licensed">No Expiration</span> (<%= link_to "Add Info", edit_pet_path(pet) %>)
              </div>            
            <% end %>
          </li>                

        </ul>    
        <% if pet.has_municipal_license? %>
          <div class="licensed"><strong>CITY LICENSE</strong> expires in <%= pet.licenses.where('kind = ?', "municipal").first.time_until_expires %> days <%= link_to "View", license_municipal_path(id:pet.id)%></div>
        <% end %>
        <% if pet.has_park_license? %>
          <div class="green"><strong>PARK LICENSE</strong> expires in <%= pet.licenses.where('kind = ?', "park").first.time_until_expires %> days</div>
        <% end %>          
        <% if !pet.vaccinated? %>
          <% if humane_society_ips.include?(request.ip) && !pet.has_municipal_license? %>
            <%= link_to "License #{pet.name}", new_charge_path(id: pet.id), class:"btn btn-large btn-primary" %><br />
          <% else %>
            <%= link_to "Add or Update Rabies Info", edit_pet_path(pet), class:"btn-disabled" %>
          <% end %>
        <% elsif !pet.has_municipal_license? %>
          <%= link_to "License #{pet.name}", new_charge_path(id: pet.id), class:"btn btn-large btn-primary" %><br />
        <% elsif pet.has_municipal_license? && !pet.has_park_license? %>
            <%= link_to "Add Park License", new_charge_path(id: pet.id), class:"btn btn-large btn-success" %><br/ >
        <% end %>                     
    </li>
  <% end %>
</ul>

<div class="container">
  <div class="row">
    <div class="span4">
    </div>
  </div>
</div>
