<div id="notice"><%= notice %></div>

<div class="span8">
  <div>
    <b>Owner:</b>
    <%= @pet.user.full_name %>
  </div>

  <div>
    <b>Name:</b>
    <%= @pet.name %>
  </div>
  
  <div>
    <b>Sex:</b>
    <%= @pet.sex %>
  </div>

  <div>
    <b>Breed:</b>
    <%= @pet.breed %>
  </div>

  <div>
    <b>Color:</b>
    <%= @pet.color %>
  </div>

  <div>
    <b>Markings:</b>
    <%= @pet.markings %>
  </div>

  <div>
    <b>Age:</b>
    <%= @pet.age %>
  </div>

  <div>
    <b>Rabies tag number:</b>
    <%= @pet.rabies_tag_number %>
  </div>

  <div>
    <b>Rabies expiration:</b>
    <%= @pet.rabies_expiration %>
  </div>

  <div>
    <b>Spayed nutered:</b>
  </div>
</div>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
