<%= form_tag charges_path do %>
<div class="payment-gateway offset2 span7">
  <h4>
    <div>
      Pet: <%= @pet.name.upcase %>
    </div>
    <div>
      City: <%= current_user.city.upcase + " " + current_user.state.upcase %>
    </div>
  </h4>
  <div class="row">
    <div class="city-license span6">
      <h5>Dog License</h5>
      <table class="table table-striped">
        <tr>
          <td><input type="radio" name="group2" checked="true" class="pet-row" /></td>
          <td>Municipal Fee*</td>
          <% if #@pet.age < 5.months && Date.today < Date.parse("July") %>
            <td>$<span class="mfee">10</span>.00</td>
          <% else %>
            <td>$<span class="mfee">20</span>.00</td>
          <% end %>
        </tr>
      </table>
    </div>
    <div class="park-license span6">
      <h5>Park License</h5>
        <table class="table table-striped" id="parkFeeSchedule">
          <tr>
            <td><input type="radio" name="group1" class="pet-row" id="annualInput" /></td>
            <td>Annual</td>
            <td>$<span class="pfee" id="annualFee">30</span>.00</td>
          </tr>
          <tr>
            <td><input type="radio" name="group1" class="pet-row" id="seniorInput" /></td>
            <td>Senior</td>
            <td>$<span class="pfee" id="seniorFee">15</span>.00</td>
          </tr>
          <tr>
            <td><input type="radio" name="group1" class="pet-row" id="disabledInput" /></td>
            <td>Disabled</td>
            <td>$<span class="pfee" id="disabledFee">15</span>.00</td>
          </tr>
          <tr>
            <td><input type="radio" name="group1" class="pet-row" id="addInput" /></td>
            <td>Additional Dog (ea.)</td>
            <td>$<span class="pfee" id="addFee">14</span>.00</td>
          </tr>
          <tr>
            <td><input type="radio" name="group1" class="pet-row" id="replacementInput" /></td>
            <td>Replacement</td>
            <td>$<span class="pfee" id="replacementFee">14</span>.00</td>
          </tr>          
        </table>
      </div>
  </div>
  <div class="row total">
    <% if Date.today < Date.parse("April") && @pet.age > 5.months && !@pet.recent? %>    
      <div>
        Late Fee: $5.00
      </div>
    <% end %>
    <div>
      Petpass Service Fee: $5.00
    </div>
    <div>
        Total: <strong>$<span id="total"></span>.00</strong>
    </div>
  </div>
  <div id="customButton" class="btn btn-primary custom_button">
    Confirm & Pay
  </div>
  <script>
    $('#customButton').click(function(){
      var token = function(res){
        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
        $('form').append($input).submit();
      };

      var total = $("#total").text();

      StripeCheckout.open({
        key:         "<%= ENV['PUBLISHABLE_KEY'] %>",
        address:     true,
        amount:      total*100,
        name:        "<%= @pet.name.capitalize %>",
        description: "Dog License",
        panelLabel:  'Checkout',
        image:       '/assets/round_tag.png',
        token:       token
      });

      return false;
    });
  </script>
</div>

<% end %>
