<%= form_tag charges_path do %>
<div class="payment-gateway offset2 span7">
  <h4>
    <div>
      Pet: <%= @pet.name.upcase %>
    </div>
    <div>
      Municipality: <%= current_user.city.upcase + " " + current_user.state.upcase %>
    </div>
    <div>
      County: <%= current_user.county.upcase %>
    </div>
  </h4>
  <div class="row">
    <% unless @pet.has_municipal_license? %>
    <div class="city-license span6">
      <h5>Municipal Dog License</h5>
      <table class="table table-striped">
        <tr>
          <td><input type="radio" name="group2" checked="true" class="pet-row" id="municipalFeeCheckbox" /></td>
          <td>Municipal Fee*</td>
            <td>$<span class="mfee"><%= @municipal_fee %></span></td>
        </tr>
      </table>
    </div>
    <% end %>
    <% unless @pet.has_park_license? %>   
    <div class="park-license span6">
    <h5>Park License</h5>
      <table class="table table-striped" id="parkFeeSchedule">
        <tr>
          <td><input type="radio" name="group1" class="pet-row" id="annualInput" <%= @pet.has_municipal_license? ? "checked='true'" : '' %> /></td>
          <td>Annual</td>
          <td>$<span class="pfee" id="annualFee">30</span>.00</td>
        </tr>
        <tr>
          <td><input type="radio" name="group1" class="pet-row" id="seniorInput" /></td>
          <td>Senior</td>
          <td>$<span class="pfee" id="seniorFee">15</span>.00</td>
        </tr>
        <tr>
          <td><input type="radio" name="group1" class="pet-row" id="disabledInput" /></td>
          <td>Disabled</td>
          <td>$<span class="pfee" id="disabledFee">15</span>.00</td>
        </tr>
        <tr>
          <td><input type="radio" name="group1" class="pet-row" id="addInput" /></td>
          <td>Additional Dog (ea.)</td>
          <td>$<span class="pfee" id="addFee">14</span>.00</td>
        </tr>
        <tr>
          <td><input type="radio" name="group1" class="pet-row" id="replacementInput" /></td>
          <td>Replacement</td>
          <td>$<span class="pfee" id="replacementFee">14</span>.00</td>
        </tr>          
      </table>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="span6">
      <h5>Fees</h5>
      <table class="table table-striped">
        <% if Date.today > Date.parse("April") && @pet.age > 0.4 && !@pet.recent? && !current_user.recent? && !@pet.has_municipal_license? %>    
        <tr>
          <td>Municipal Late Fee:</td>
          <td></td>
          <td>$<span id="lateFee">5</span>.00</td>
        </tr>         
        <% end %>          
        <tr>
          <td>PetPass Service Fee:</td>
          <td></td>
          <td>$5.00</td>
        </tr>             
      </table>
    </div> 
  </div>
  <div class="row">
    <div class="span6">
      <table class="table table-striped">
        <tr>
          <td>Total: <strong>$<span id="total"></span>.00</strong></td>
          <td></td>
          <td></td>
        </tr>                 
      </table>
    </div>
  </div>
  <div id="customButton" class="btn btn-primary custom_button">
    Confirm & Pay
  </div>
  <script>
    $('#customButton').click(function(){
      var late_fee = parseFloat($('#lateFee').text())
      late_fee = late_fee || 0      
      var municipal_price = parseFloat($(".mfee").text())
      municipal_price = municipal_price || 0
      var total = parseFloat($("#total").text())
      total = total || 0      
      var park_price = total - municipal_price - late_fee - 5
      // var checkedRadios = $('#parkFeeSchedule').find('input:radio:checked');
      // if (checkedRadios.length > 0) {
      //   var petLicense = true
      // } else {
      //   var petLicense = false
      // }

      var token = function(res){
        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
        var $petId = $('<input type=hidden name=pet_id />').val(<%= @pet.id %>);
        var $municipalPrice = $('<input type=hidden name=municipal_price />').val(municipal_price);
        var $parkPrice = $('<input type=hidden name=park_price />').val(park_price);
        var $lateFee = $('<input type=hidden name=late_fee />').val(late_fee)
        $('form').append($input, $petId, $parkPrice, $municipalPrice, $lateFee).submit();
        //post_to_url('http://petpass.net/charges', { 'input':$input, 'pet_id':$petId, 'park_price':$parkPrice, 'municipal_price':$municipalPrice } )
      };

      StripeCheckout.open({
        key:         "<%= ENV['PUBLISHABLE_KEY'] %>",
        address:     true,
        amount:      total*100,
        name:        "<%= @pet.name.capitalize %>",
        description: "Dog License",
        panelLabel:  'Checkout',
        image:       '/assets/round_tag.png',
        token:       token
      });

      return false;
    });
  </script>
</div>

<% end %>
