<%= form_tag charges_path do %>
<div class="payment-gateway offset2 span7">
  <h4>
    <div>
      Pet: <%= @pet.name.upcase %>
    </div>
    <div>
      City: <%= current_user.city.upcase + " " + current_user.state.upcase %>
    </div>
  </h4>
  <div class="row">
    <div class="city-license span6">
      <h5>Dog License</h5>
      <table class="table table-striped">
        <tr>
          <td><input type="radio" name="group2" checked="true" class="pet-row" /></td>
          <td>Municipal Fee*</td>
            <td>$<span class="mfee"><%= @initial_fee %></span></td>
        </tr>
      </table>
    </div>
    <div class="park-license span6">
      <h5>Park License</h5>
        <table class="table table-striped" id="parkFeeSchedule">
          <tr>
            <td><input type="radio" name="group1" class="pet-row" id="annualInput" /></td>
            <td>Annual</td>
            <td>$<span class="pfee" id="annualFee">30</span>.00</td>
          </tr>
          <tr>
            <td><input type="radio" name="group1" class="pet-row" id="seniorInput" /></td>
            <td>Senior</td>
            <td>$<span class="pfee" id="seniorFee">15</span>.00</td>
          </tr>
          <tr>
            <td><input type="radio" name="group1" class="pet-row" id="disabledInput" /></td>
            <td>Disabled</td>
            <td>$<span class="pfee" id="disabledFee">15</span>.00</td>
          </tr>
          <tr>
            <td><input type="radio" name="group1" class="pet-row" id="addInput" /></td>
            <td>Additional Dog (ea.)</td>
            <td>$<span class="pfee" id="addFee">14</span>.00</td>
          </tr>
          <tr>
            <td><input type="radio" name="group1" class="pet-row" id="replacementInput" /></td>
            <td>Replacement</td>
            <td>$<span class="pfee" id="replacementFee">14</span>.00</td>
          </tr>          
        </table>
      </div>
  </div>
  <div class="row total">
    <% if Date.today < Date.parse("April") && @pet.age > 5.months && !@pet.recent? %>    
      <div>
        Late Fee: $<span id="lateFee">5</span>.00
      </div>
    <% end %>
    <div>
      Service Fee: $5.00
    </div>
    <div>
        Total: <strong>$<span id="total"></span></strong>
    </div>
  </div>
  <div id="customButton" class="btn btn-primary custom_button">
    Confirm & Pay
  </div>
  <script>
    $('#customButton').click(function(){
      var municiple_price = parseFloat($(".mfee").text())
      var total = parseFloat($("#total").text())
      var park_price = total - municiple_price - 5
      // var checkedRadios = $('#parkFeeSchedule').find('input:radio:checked');
      // if (checkedRadios.length > 0) {
      //   var petLicense = true
      // } else {
      //   var petLicense = false
      // }   

      var token = function(res){
        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
        var $petId = $('<input type=hidden name=pet_id />').val(<%= @pet.id %>);
        var $municiplePrice = $('<input type=hidden name=municiple_price />').val(municiple_price);
        var $parkPrice = $('<input type=hidden name=park_price />').val(park_price);
        $('form').append($input, $petId, $parkPrice, $municiplePrice).submit();
      };

      StripeCheckout.open({
        key:         "<%= ENV['PUBLISHABLE_KEY'] %>",
        address:     true,
        amount:      total*100,
        name:        "<%= @pet.name.capitalize %>",
        description: "Dog License",
        panelLabel:  'Checkout',
        image:       '/assets/round_tag.png',
        token:       token
      });

      return false;
    });
  </script>
</div>

<% end %>
