<!DOCTYPE html>
<html>
<head>
  <title>Petpass</title>
  <link href='http://fonts.googleapis.com/css?family=Oldenburg' rel='stylesheet' type='text/css'>
   <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <link rel="icon" type="image/png" href="http://petpass.net/favulous.ico">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40834115-1', 'petpass.net');
    ga('send', 'pageview');

  </script>  
  
</head>
<body>
  <header>
    <div id="blue_ribbon"/>
    <div id="ribbon">
      <%= link_to root_path do %>
        <div id="logo"><%= image_tag "round_tag.png", height:"60%" %>PetPass</div>
      <% end %>
      <div class="signin_signup">
        <% if !user_signed_in? %>
          <%= form_for("user", :url => user_session_path) do |f| %>
            <%= f.text_field :email, placeholder: "email" %>
            <%= f.password_field :password, placeholder: "password" %><%= f.submit 'Sign in', class:'btn' %>
            <br />
            <%= f.check_box :remember_me, checked: true %>
            <%= f.label :remember_me %> | 
            <%= link_to "Forgot your password?", new_password_path('user') %>
          <% end %>
        <% else %>
          <% if current_user.admin? %>
            <%= link_to "Administrator Dashboard", licenses_path(kind: "municiple") %> |
          <% end %>
          <%= link_to "Welcome, #{current_user.full_name}", edit_user_registration_path %> | 
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <%= link_to 'New Pet', new_pet_path, class:'btn btn-success' %>
        <% end %>   
      </div>
    </div>
  </header>
	<div class="container">
    <%= bootstrap_flash %>
    <%= yield %>
	</div>
  <footer class="footer">
  </footer>
    <script type="text/javascript">
  // This identifies your website in the createToken call below
    Stripe.setPublishableKey("<%= ENV['PUBLISHABLE_KEY'] %>");
  // ...
  </script>
</body>
</html>
