<!DOCTYPE html>
<html>
<head>
  <title>Petpass</title>
  <link href='http://fonts.googleapis.com/css?family=Oldenburg' rel='stylesheet' type='text/css'>
   <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <link rel="icon" type="image/png" href="http://petpass.net/favulous.ico">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="blue_ribbon"/>
    <div id="ribbon">
      <a href="/"><div id="logo"><%= image_tag "round_tag.png", height:"60%" %>PetPass</div></a>
      <div class="signin_signup">
        <% if !user_signed_in? %>
          <%= form_for("user", :url => user_session_path) do |f| %>
            <%= f.text_field :email, placeholder: "email" %>
            <%= f.password_field :password, placeholder: "password" %><%= f.submit 'Sign in', class:'btn' %>
            <br />
            <%= f.check_box :remember_me, checked: true %>
            <%= f.label :remember_me %> | 
            <%= link_to "Forgot your password?", new_password_path('user') %>
          <% end %>
        <% else %>
          <% if current_user.admin? %>
            <%= link_to "Administrator Dashboard", licenses_path %>
          <% end %>
          <%= link_to "Account Settings", edit_user_registration_path %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% end %>   
      </div>
    </div>
  </header>
	<div class="container">
    <%= yield %>
	</div>
  <footer class="footer">
  </footer>
    <script type="text/javascript">
  // This identifies your website in the createToken call below
    Stripe.setPublishableKey("<%= ENV['PUBLISHABLE_KEY'] %>");
  // ...
  </script>
</body>
</html>
